@font-face {
   font-family: "Copperplate Gothic Bold";
   src: url("fonts/Copperplate Gothic Bold.woff") format("woff"), url("fonts/Copperplate Gothic Bold.eot") format("embedded-opentype"), url("fonts/Copperplate Gothic Bold.TTF") format("truetype"), url("fonts/Copperplate Gothic Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}